@page "/analytics"
@rendermode InteractiveServer
@using ViewModels
@inject AnalyticsViewModel AnalitycsViewModel
<h3>City Analysis</h3>
<RadzenStack class="rz-p-0 rz-p-md-6 rz-p-lg-12" AlignItems="AlignItems.Center" Orientation="Orientation.Vertical" Style="width:100%">
    <RadzenStack Orientation="Orientation.Horizontal">
    <RadzenCard>
        <h4>Population of cities in (M)</h4>
            <RadzenChart Visible="true" Style="width:500px">
				<RadzenPieSeries Data="@AnalitycsViewModel.CityPopulationDataItem" Title="Population" CategoryProperty="CityName" ValueProperty="PupulationInMillions">
					<RadzenSeriesDataLabels Visible="true" />
				</RadzenPieSeries>
			</RadzenChart>
    </RadzenCard>
    <RadzenCard>
            <h4>Foreign Visitors of cities in (M)</h4>
            <RadzenChart Style="width:500px">
                <RadzenColumnSeries Data="@AnalitycsViewModel.CityPopulationDataItem" CategoryProperty="CityName" Title="Cities" ValueProperty="CityBeautyPercentage">
                </RadzenColumnSeries>
                <RadzenColumnOptions Radius="5" />
                <RadzenValueAxis Step="20" Min="0" Max="100">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Percentage of beauty" />
                </RadzenValueAxis>
            </RadzenChart>
            
    </RadzenCard>
    </RadzenStack>
    <RadzenCard Style="width:100%">
        <h4>Foreign Visitors of cities in (M)</h4>
        <RadzenChart Style="width:100%">
            <RadzenLineSeries Smooth="true" Data="@AnalitycsViewModel.CityPopulationDataItem[0].ForeignVisitorsInMillions" CategoryProperty="Year" Title="Rome" LineType="LineType.Dashed" ValueProperty="VisitorsInMillions">
                <RadzenMarkers Visible="true" MarkerType="MarkerType.Circle" />
            <RadzenSeriesDataLabels Visible="true" />
            </RadzenLineSeries>
            <RadzenLineSeries Smooth="true" Data="@AnalitycsViewModel.CityPopulationDataItem[1].ForeignVisitorsInMillions" CategoryProperty="Year" Title="Bucharest" LineType="LineType.Dashed" ValueProperty="VisitorsInMillions">
                <RadzenMarkers Visible="true" MarkerType="MarkerType.Circle" />
                <RadzenSeriesDataLabels Visible="true" />
            </RadzenLineSeries>
            <RadzenLineSeries Smooth="true" Data="@AnalitycsViewModel.CityPopulationDataItem[2].ForeignVisitorsInMillions" CategoryProperty="Year" Title="Paris" LineType="LineType.Dashed" ValueProperty="VisitorsInMillions">
                <RadzenMarkers Visible="true" MarkerType="MarkerType.Circle" />
                <RadzenSeriesDataLabels Visible="true" />
            </RadzenLineSeries>
            <RadzenLineSeries Smooth="true" Data="@AnalitycsViewModel.CityPopulationDataItem[3].ForeignVisitorsInMillions" CategoryProperty="Year" Title="London" LineType="LineType.Dashed" ValueProperty="VisitorsInMillions">
                <RadzenMarkers Visible="true" MarkerType="MarkerType.Circle" />
                <RadzenSeriesDataLabels Visible="true" />
            </RadzenLineSeries>
            
        <RadzenCategoryAxis Padding="20" />
        <RadzenValueAxis>
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="Foreign visitors (M)" />
        </RadzenValueAxis>
        </RadzenChart>

    </RadzenCard>
</RadzenStack>


@code {

}
